---
import Base from "../layouts/Base.astro";
const events = [
  {
    title: "Conférence sur les astres",
    date: "Lundi 12 Juillet",
    favori: true,
  },
  {
    title: "Atelier sur les étoiles",
    date: "Mardi 13 Juillet",
    favori: false,
  },
];
---

<Base titre="Agenda">
  <h1>Agenda</h1>
</Base>
